<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= current_page.data.title %></title>
    <%= favicon_tag 'images/favicon.png' %>
    <%= stylesheet_link_tag :all %>
  </head>

  <body>
    <main id="main" role="main" class="main">
      <section class="loading-signifier js-loading-signifier">
        <div class="loading-signifier__pulse"></div>
      </section>

      <section class="page page--is-<%= page_classes %> js-page" >
        <%= yield %>
      </section>

      <nav class="navigation">
        <ul>
          <li class="navigation__link"><a href="/" title="Home">Home</a></li>
          <li class="navigation__link"><a href="/about" title="Home">About</a></li>
          <li class="navigation__link"><a href="/music" title="Home">Music</a></li>
          <li class="navigation__link"><a href="/portfolio" title="Home">Portfolio</a></li>
        </ul>
      </nav>
    </main>

    <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <%= javascript_include_tag :base %>
  </body>
</html>
