<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= current_page.data.title %></title>

    <%= stylesheet_link_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <main id="main" role="main">
      <%= yield %>
    </main>

    <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>
