<header class="article-header">
  <div class="article-header__content">
    <div class="container container--show-grid">
      <div class="grid-column grid-column--14 grid-column--offset-1">
        <h1 class="heading heading--1">
            <span class="article-header__line-1"><span class="text">Helping developers</span></span>
            <span class="article-header__line-2"><span class="text">build a better financial</span></span>
            <span class="article-header__line-3"><span class="text">future for everyone</span></span>
        </h1>
      </div>
      <span class="u-clearfix"></span>
      <hr class="article-header__rule grid-column grid-column--14 grid-column--offset-1">
      <div class="grid-column grid-column--3 grid-column--offset-1">
        <span class="heading heading--4">Project</span>
        <p class="paragraph">Dashboard</p>
      </div>
      <div class="grid-column grid-column--3">
        <span class="heading heading--4">Company</span>
        <p class="paragraph">Dashboard</p>
      </div>
      <div class="grid-column grid-column--3">
        <span class="heading heading--4">Launched</span>
        <p class="paragraph">October 2018</p>
      </div>
      <div class="grid-column grid-column--3">
        <span class="heading heading--4">Updated</span>
        <p class="paragraph">May 2018</p>
      </div>
      <span class="u-clearfix"></span>
    </div>
  </div>
</header>

<section class="article-section">
  <div class="container">
    <div class="grid-column grid-column--16">
      <div class="article-figure">
        <div class="article-figure__browser-bar"></div>
        <%= image_tag 'images/plaid/screenshot-overview-1.png', :class => 'figure__image' %>
        </div>
      </figure>
    </div>
    <div class="u-clearfix"></div>
  </div>
</section>

<section class="article-section">
  <div class="container">
    <div class="grid-column grid-column--14 grid-column--offset-1">
      <p class="paragraph">Plaid delivers access to the financial system with a powerful and intuitive API to any developer poised to make it better. The Dashboard is the gateway to the platform and serves as the starting point on which ideas to improve financial services come to life.</p>

      <p class="paragraph">In late 2016, Plaid launched a redesigned and rebuilt Dashboard in response to the rapid growth of the company, the platform, and it’s customers. Ever since then, the team has continued to advance it’s functionality as our understanding of our customers and their needs evolve.  </p>

      <p class="paragraph">This is a point-in-time snapshot of our progress as of May 2018.</p>
    </div>
    <div class="u-clearfix"></div>
  </div>
</section>

<section class="article-section">

    <div class="article-section__callout grid-column grid-column--14 grid-column--offset-1">
      <div class="heading heading--3">Onboarding</div>
      <p class="paragraph">Fast and secure access to keys, documentation, and other resources needed to start building with Plaid.</p>
    </div>

    <div class="grid-column grid-column--16">
      <div class="article-figure">
        <div class="article-figure__browser-bar"></div>
        <%= image_tag 'images/plaid/screenshot-onboarding-1.png', :class => 'figure__image' %>
        </div>
      </figure>
      <div class="article-figure">
        <div class="article-figure__browser-bar"></div>
        <%= image_tag 'images/plaid/screenshot-onboarding-2.png', :class => 'figure__image' %>
        </div>
      </figure>
      <div class="article-figure">
        <div class="article-figure__browser-bar"></div>
        <%= image_tag 'images/plaid/screenshot-onboarding-3.png', :class => 'figure__image' %>
        </div>
      </figure>
      <div class="article-figure">
        <div class="article-figure__browser-bar"></div>
        <%= image_tag 'images/plaid/screenshot-onboarding-4.png', :class => 'figure__image' %>
        </div>
      </figure>
    </div>
    <span class="u-clearfix"></span>
  </div>
</section>


